services:
  notification-service:
    image: ghcr.io/zoroplay/notification-service:latest
    container_name: notification-service
    ports:
      - "59013:5000"
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: '0.3'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M